#Configuration info
[Project Info]
    Project = 20221

###LogicalCameraConfiguration begin
[LogicalCameraConfiguration]
    NumOfLogicalCamera = 6
    LogicalCamera[0] = SingleWideCameraConfiguration
    LogicalCamera[1] = SingleFrontCameraConfiguration
    LogicalCamera[2] = SingleMonoCameraConfiguration
    LogicalCamera[3] = SingleMacroCameraConfiguration
    LogicalCamera[4] = RTBWMCameraConfiguration
    LogicalCamera[5] = RTBWMCameraConfiguration1

[SingleWideCameraConfiguration]
    logicalCameraId    = 0
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleWideCameraDeviceInfo
    primarySensorID    = 0
    oemCameraType      = 0

[SingleWideCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[SingleFrontCameraConfiguration]
    logicalCameraId    = 1
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleFrontCameraDeviceInfo
    primarySensorID    = 2
    oemCameraType      = 1

[SingleFrontCameraDeviceInfo]
    sensorId               = 2
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[SingleMonoCameraConfiguration]
    logicalCameraId    = 2
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMonoCameraDeviceInfo
    primarySensorID    = 1
    oemCameraType      = 13

[SingleMonoCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[SingleMacroCameraConfiguration]
    logicalCameraId    = 3
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMacroCameraDeviceInfo
    primarySensorID    = 3
    oemCameraType      = 17

[SingleMacroCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[RTBWMCameraConfiguration]
    logicalCameraId    = 4
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBMonoCameraDeviceInfo
    deviceInfo[1]      = RTBWideCameraDeviceInfo
    primarySensorID    = 0
    oemCameraType      = 8

[RTBMonoCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[RTBWideCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[RTBWMCameraConfiguration1]
    logicalCameraId    = 5
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBMacroCameraDeviceInfo1
    deviceInfo[1]      = RTBWideCameraDeviceInfo1
    primarySensorID    = 0
    oemCameraType      = 16

[RTBMacroCameraDeviceInfo1]
    sensorId               = 3
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[RTBWideCameraDeviceInfo1]
    sensorId               = 0
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

###LogicalCameraConfiguration end

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask      index
    Mode[0]         =     0x800E;            0x0002;            0x0000;           1   # MODE_STICKER FRONT
    Mode[1]         =     0x8011;            0x0001;            0x0000;           1   # PORTRAIT     REAR
    Mode[2]         =     0x800b;            0x0001;            0x0000;           2   # VIDEO        REAR
    Mode[3]         =     0x800E;            0x0001;            0x0000;           0   # MODE_STICKER REAR
    Mode[4]         =     0x8011;            0x0004;            0x0000;           1   # PORTRAIT     REAR_AUX

[ThirdAppCamRatioSensorSettingMap]
    #                   Ratio_mode         sensor_mask    index
    Mode[0]         =      0x0001;            0x0001;       2   #DUO REAR
    Mode[1]         =      0x0001;            0x0002;       1   #DUO FRONT



[ThirdAppCamSensorSettingMap]
    #                                              cameraid  framerate  width  height  operationMode  settingIndex
    com.instagram.android[0]                    =     0;         -1;      -1;   -1;        -1;            2
    com.snapchat.android[0]                     =     1;         -1;      -1;   -1;        -1;            1
    com.whatsapp[0]                             =     0;         -1;      -1;   -1;        -1;            2
    com.tencent.mm[0]                           =     0;         -1;      -1;   -1;        -1;            2
    com.tencent.mm[1]                           =     1;         -1;      -1;   -1;        -1;            1
    com.tencent.mobileqq[0]                     =     0;         -1;      -1;   -1;        -1;            0
    com.tencent.mobileqq[1]                     =     1;         -1;      -1;   -1;        -1;            0

[BokehConfigureInformation]
    RearBokehImgSizeList       = 4160; 3120; 1600; 1200
    RearMonoSecondBokehImgSizeList = 4160; 3120; 1600; 1200

[OemSupportedCustomImageSizes]
#               width height
#FRONT&REAR
ImageSizes[0] = 4624; 3468
ImageSizes[1] = 4624; 2600
ImageSizes[2] = 4624; 2080
ImageSizes[3] = 4160; 2336
ImageSizes[4] = 4160; 1872
ImageSizes[5] = 3472; 3472
ImageSizes[6] = 3246; 2448
#MODE_STICKER
ImageSizes[7] = 1280; 720
ImageSizes[8] = 960; 960
ImageSizes[9] = 960; 720

[OrmsConfig]
    FPCaptureActionTimeout     = 2000    # portait capture timeout
    CaptureActionTimeout       = 1000    # nomal capture timeout
